input[type="file"] {
  display: none;
}

.btn-wrapper {
  box-sizing: border-box;
  height: fit-content;
  min-height: 40px;
  width: 80px;
}

.btn-label {
  background: #fff;
  border: 1px solid #808080;
  border-radius: 6px;
  color: #505050;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 80px;
  padding: 0.3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.btn-label:hover {
  background: #989ba9;
  border-color: #b1b1b1;
  color: #fff;
}

.btn-label:active {
  background: #808080;
}
